<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Shop JS  <i class="fa fa-home" aria-hidden="true"></i></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->

    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="/panier/">
          {{# if session.panier.totalQty}}<span class="badge pull-right"> {{session.panier.totalQty}}</span>
          {{else}}
          <span class="badge pull-right"> 0</span>
          {{/if}}
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>  Mon panier : </a> </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle" aria-hidden="true"></i>  Compte Utilisateur <span class="caret"></span></a>
            <ul class="dropdown-menu">
              {{# if login}}
              <li><a href="/user/profile">Compte</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/user/logout">Déconnexion</a></li>
              {{ else }}
              <li><a href="/user/signup">S'enregistrer</a></li>
              <li><a href="/user/signin">Se connecter</a></li>
              {{/ if}}

            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
